.app-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
}

.app-container:hover {
    background-color: #080808;
}

.profile-image {
    height: 48px;
    width: 48px;
    border-radius: 9999px;
    align-self: start;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-name {
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: text-decoration 0.2s;
}

.user-name:hover {
    text-decoration: underline;
}

.user-username {
    font-size: 0.875rem;
    color: #54595D;
}

.user-description {
    font-size: 0.875rem;
    min-height: 20px;
}
