.hashtags-container {
    width: 100%;
    background: #16181C;
    border-radius: 2rem;
    padding-top: 1rem;
}

.title {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 1rem 0.5rem;
}

.spacer {
    height: 0.75rem;
}

.tag-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
}

.tag-item:hover {
    background: #1D1F23;
}

.tag-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tag-category {
    font-size: 0.875rem;
    color: #54595D;
}

.tag-name {
    font-weight: 600;
}

.tag-tweets {
    font-size: 0.875rem;
    color: #54595D;
}

.show-more {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.show-more:hover {
    background: #1D1F23;
}

.show-more-text {
    color: #1d9bf0;
}
