
.header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
  flex-grow: 1;
  width: 15%;
  min-width: 15%;
  z-index: 50;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  position: fixed;
  height: 100vh;
  padding-right: 2rem;
}

.logo {
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
}

.nav-link span {
  display: none;
}

.nav-link img {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .nav-link span {
    display: inline;
  }
}

.tweet-button {
  background-color: #1d9bf0;
  transition: background-color 0.3s;
  width: 15rem;
  height: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  margin-top: 0.75rem;
}

.tweet-button:hover {
  background-color: #1A8CD8;
}

@media (min-width: 768px) {
  .tweet-button {
    display: flex;
  }
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  gap: 0.75rem;
  transition: background-color 0.3s;
  border-radius: 1.875rem;
  width: 100%;
}

.user-info:hover {
  background-color: #181818;
}

.user-avatar {
  border-radius: 50%;
}

.user-details {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-name {
  font-weight: bold;
}

.user-username {
  font-size: 0.875rem;
  color: #9CA3AF;
}

@media (min-width: 768px) {
  .user-details {
    display: flex;
  }
}

.more-icon {
  position: absolute;
  right: 0.5rem;
  display: none;
}

@media (min-width: 768px) {
  .more-icon {
    display: block;
  }
}
