.tweet-card {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 5px 0;
  gap: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid #b8c2cc;
}


.user-profile {
  display: flex;
  align-items: center;
}

.profile-image-container {
  position: relative;
}

.profile-image {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}


